<div class = "container">
  <h3>I've been interested in computers my whole life.  Here are some things I've developed some proficiency in.</h3>

  <h2>Things I'm skilled with:</h2>
    <li>Unity</li>
    <li>Angular (my proof -- this site is made by me, and is written in Angular!)</li>
    <li>ASP.NET</li>
    <li>HTML, CSS, SCSS</li>

  <h2>Languages I'm skilled with</h2>
    <li>C#</li>
    <li>Java</li>
    <li>Python</li>
    <li>Javascript and Typescript</li>

  <h2>Other things I've had some experience with</h2>
    <li>C</li>
    <li>C++ with an Arduino</li>
    <li>SQL</li>
    <li>Assembly Languages (x86 and MIPS)</li>
    <li>Microsoft Power Apps</li>
    <li>Android Studio</li>
</div>
