.aboutMargin{
    margin:50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1{
    font-size: 75px;
    line-height: 75px;
    
}

img{
    width: 300px;
    float:right
}
