<div>
    <h1>About me</h1>
    <p>I'm currently a student attending the University of Pittsburgh.  I spend much of my free time writing stories, creating programming projects, or playing chess online.  </p>
    <p>I am also interested in city designing and planning, as well as aviation and history.</p>


    <h1>Contact</h1>
    <p>Feel free to email me at codenameaidan@gmail.com for any reason at all.  Any criticisms (I'm sure you have a lot), reviews, or comments are always appreciated!</p>
    <p>Especially email me if something on this site doesn't seem to be working!</p>
</div>