<div>
    <h1>About Aidan Walsh</h1>
    <p>I'm currently attending the University of Pittsburgh.  I spend much of my free time writing stories or creating programming projects.  I think it's likely that the human ecosystem will collapse in the next thirty or forty years, and most of us will won't survive in the ensuing chaos.  So in the meantime between birth and oblivion, I'm attending university, and writing and enjoying some life.</p>
    <p>I'm also interested in city designing and planning.  I like things to be structured and ordered even if real life doesn't always work out that way.  I'm a perfectionist but a chaotic one.  I throw things at the wall, see what sticks, and scrape what doesn't off the floor.  I think I've gotten decent at scraping it up.</p>


    <h1>Contact</h1>
    <p>Feel free to email me at codenameaidan@gmail.com for any reason at all.  Any criticisms (I'm sure you have a lot), reviews, or comments are always appreciated!</p>
</div>