<div class = "navbar">

  <h2>aidanjwalsh.com</h2>

  <div class = "links">
    <button mat-button routerLink = "/home"  [ngStyle]="{'background-color' : this.router.url==='/home' ? 'rgb(98, 150, 101,0.3)' : '' }">Home</button>
    <button mat-button [matMenuTriggerFor]="menu" [ngStyle]="{'background-color' : this.router.url.split('/')[1]==='cs' ? 'rgb(98, 150, 101,0.3)' : '' }">Computing && Information</button>
      <mat-menu #menu="matMenu">
       <!-- <button mat-menu-item routerLink = "/cs/timeline">Timeline</button> -->
        <button mat-menu-item routerLink = "/cs/projects">My Projects</button>
        <button mat-menu-item routerLink = "/cs/skills">My Skills</button>
      </mat-menu>

    <button mat-button routerLink = "/writing" [ngStyle]="{'background-color' : this.router.url==='/writing' ? 'rgb(98, 150, 101,0.3)' : '' }">Writing</button>
    <button mat-button routerLink = "/about" [ngStyle]="{'background-color' : this.router.url==='/about' ? 'rgb(98, 150, 101,0.3)' : '' }">About</button>
  </div>

</div>
