
<h2>The Aidan Walsh Official Website</h2>

<p class = "center-text">Hello and welcome!  I'm a writer, programmer, and artist.  Feel free to read my stories or check out my projects! </p>

<div class = "img-center">
    <button class = "writing-button" routerLink = "/writing">
        <img src = "assets/WritingIcon.png">
    </button>

    <button class = "cs-button" routerLink = "/cs/projects">
        <img src = "assets/CSProjectsIcon.png">
    </button>

    <button class = "about-button" routerLink = "/about">
        <img src = "assets/AboutMeIcon.png">
    </button>
</div>